#logos
{
    background-color: rgb(118, 118, 137, .5);
    border-radius: 5px;
    border-style: hidden;
}
#ana
{
    background-color: rgb(118, 118, 137, .5);
    border-radius: 5px;
    border-style: hidden;
}
#bosluk
{
    height: 5%;
    width: 100%;
    text-align: right;
    background-color: rgb(118, 118, 137, .5);
    border-radius: 5px;
    border-style: hidden;
}
#logos
{
    background-color: rgb(118, 118, 137, .5);
    border-radius: 5px;
    border-style: hidden;
}
#saulogo
{
    width: 150px;
}
#logodiv
{
    float: left;
}
.ilet-log
{
    position: relative;
    bottom:20px;
    left: 20%;
    width: 40px;
    float: left;
}
.ile-text
{
    position: relative;
    top: 23px;
}
.div-pic
{
    position: relative;
    left:25%;
    width: 50px;
    top:10px;
    
}
.div-text
{
    text-align: center;
}
#baslik
{
    float:right;
    font-size: 40px;
}
.clear
{
    clear:both;
}